/* Fundo do ion-content */
ion-content {
  --background: #fff3e0;
}

/* Logo */
.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.logo {
  width: 250px;
  height: 80px;
}

/* Caixa de login */
.login {
  position: fixed;
  bottom: 0;
  border-radius: 70px 70px 0 0;
  background-color: #2A3D1D;
  width: 100%;
  height: 700px;
  padding-top: 30px;
}

/* Título e subtítulo */
.textlogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #C56D47;
  font-family: Poppins;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  margin: 5px 0 0 0;
  color: #fff3e0;
}

/* Inputs */
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.input-group {
  
  width: 250px;
  margin-bottom: 15px;
}

.inputdabbzinha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #fff3e0;
  color: #B0B0B0;
  padding: 0 15px;
  font-family: Poppins;
  font-size: 14px;
  transition: border 0.3s, box-shadow 0.3s;
}



.inputdabbzinha:focus-within {
  border-color: #C56D47;
}

ion-input {
  --highlight-height: 0px;          
  --highlight-color-focused: transparent;
}

/* Link esqueci a senha */
.forgot-password {
  display: block;
  width: 100%;
  text-align: right;
  font-family: Poppins;
  font-size: 12px;
  color: #B0B0B0;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}

/* Botão */
button {
  text-align: center;
  background-color: #C56D47;
  color: #fff3e0;
  font-family: Poppins;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 35px;
  
}

/* Ações de cadastro */
.actions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.align-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #fff3e0;
}

.align-container a.cadastro {
  text-decoration: underline;
  color: #fff3e0;
}

/* Parágrafos dentro de input-group */
.input-group p {
  font-family: Poppins;
  margin: 0 0 2px 0;
}
